@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
	margin: 0px;
	padding: 0px;
}

.drivemap {
    float: left;
    padding: 1vh;
    margin: 1vw;
    position: relative;
    width: 28vw;
    height: 77.5vh;
    border: 1vh solid #353b48;
    border-radius: 16px;
    z-index: 0;
}

body {
	background-color: #222f3e;
	font-family: 'Lato', sans-serif;
	overflow: scroll;
}

.container {
	position: relative;
	background-color: #222f3e;
	width: 66vw;
	height: 89vh;
}

.drivemap {
	position: relative;
	float: left;
	margin: 3vh;
	background-color: #535c68;
	width: 25vw;
    height: 77.5vh;
    border: 1vh solid #353b48;
    border-radius: 16px;
}

.statboard {
	position: relative;
	float: right;
    background-color: #535c68;
	margin-top: 2vh;
	margin-right: 2vh;
	width: 34vw;
    height: 80vh;
	border: 1vh solid #353b48;
    border-radius: 16px;
}

.slideshowdiv {
	position: absolute;
	right: 0;
	top: 11vh;
	width: 34vw;
	height: auto;
	background-color: #222f3e;
	border-left: 1vh solid #1e272e;
	border-bottom: .25vh solid #1e272e;
	text-align: center;
	overflow-y: scroll;

}

.toggle {
	position: relative;
	top: 92.5%;
	text-align: center;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	color: white;
	font-weight: bold;
	font-size: 3vh;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	margin-right: 1vw;
	border-radius: 3px 0 0 3px;
  }
  
  .prev {
	left: 0;
	margin-left: 1vw;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }

.statMenu {
	position: relative;
	width: 50%;
	top: 3vh;
	height: auto;
	border: .5vh solid #8395a7;
	border-radius: 16px;
	background-color: #222f3e;
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}
.statDiv {
	margin: auto auto;
	padding: 1vh;
	width: 20%;
	height: 50%;
}
.statDiv h2 {
	font-size: 2vh;
	margin: 0 auto;
	color: white;
}
.statDiv h1 {
	padding-top: 1vh;
	font-size: 5vh;
	margin: 0 auto;
	color: #34ace0;
}

.playDiv {
	position: relative;
	display: flex;
	float: right;
	height: 51vh;
	width: 100%;
	border-top: .5vh solid #8395a7;
}

.playDiv textarea {
	position: relative;
	padding: 1vh;
	font-size: 1.25vh;
	font-family: 'Press Start 2P', cursive;
	color: white;
	resize: none;
	background-color: #000;
	width: 100%;
	height: 80%;
	border-bottom: .5vh solid #8395a7;
}

.slideshowdiv h3 {
	font-size: 3vh;
	margin: 1vh;
	color: white;
}

.slideshowdiv textarea {
	padding: 1vh;
	font-size: 1.25vh;
	font-family: 'Press Start 2P', cursive;
	color: white;
	resize: none;
	background-color: #000;
	width: 90%;
	height: 30vh;
	border: .25vh solid #8395a7;
}

.graphdiv {
	margin-left: .5%;
	position: relative;
	width: 75%;
	height: auto;
	text-align: center;
	padding-left: 0;
    padding-right: 0;
	margin-top: 1vh;
	margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}
.graph {
	border: solid #8395a7;
	background-color: #222f3e;
	padding: 1vh;
}

@media (max-width: 1200px)
{
	.statMenu {
		width: 85%;
		margin: auto;
	}

	.drivemap {
		width: 85%;
		margin: auto;
	}

	.slideshowdiv {
		height: auto;
	}
}