<!DOCTYPE html>
<html>
    <head>
        <title>Endzone - Data Viewer</title>
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static', filename='images/Endzone.jpg') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/nav.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/DataViewer.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/DataViewerTable.css') }}">

        <!--JQuery-->
        <script src="{{ url_for('static', filename='js/libs/Jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/DataViewer.js') }}"></script>
        <!-- Leaflet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='js/libs/Leaflet/leaflet.css') }}"/>
        <script src="{{ url_for('static', filename='js/libs/Leaflet/leaflet.js') }}"></script>
        <!--Georaster-->
        <script src="{{ url_for('static', filename='js/libs/Georaster/georaster-layer-for-leaflet.min.js') }}"></script>
    </head>
    <body>
      <div class="topnav">
        <div class="logo-image">
          <img src="{{ url_for('static', filename='images/EndzoneLogo.png') }}" class="img-fluid">
        </div>
        <a href="/endzone/hub">Hub</a>
        <a  href="/endzone/gamemanagement">Game Management</a>
        <div class="dropdown">
          <button class="dropbtn">Team Management
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href = "/endzone/formations">Formations</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Pre-Game Analysis
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/endzone/prereport">Pre Game Report</a>
          </div>
        </div>
        <div class="dropdown" style="background-color: #1e73be;">
          <button class="dropbtn">In-Game Analysis
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href = "/endzone/driveanalyzer">Drive Analyzer</a>
            <a href="/endzone/dataviewer">Data Viewer</a>
            <a href="/endzone/tars">TARS</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Post-Game Analysis
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href = "/endzone/gamerecap">Recap Report</a>
          </div>
        </div>
        <div class = "topnav-right">
          <a href = "/Logout">{{ User }}</a>
        </div>
    </div>
    </body>
    <body onload="Load()">
      <div class = "filterbar">
        <label>Team of Interest: </label>
        <select id="toi"></select>
        <button onclick="getDataClick()">Get Data</button>
        <button onclick="filterDataClick()">Activate Filters</button>
        <label style="margin-left: 1vh;">Mode:</label>
        <select onchange="viewToggle()" id="cmbmode">
          <option>Table</option>
          <option>Map</option>
        </select>
      </div>
      <div class = "tableDiv">
        <table id = "table">
          <thead>
            <tr>
              <th>Play #</th>
              <th>Team Name</th>
              <th>Opponent Name</th>
              <th>Year</th>
              <th>Possession</th>
              <th>Drive</th>
              <th>Quarter</th>
              <th>Yard</th>
              <th>Hash</th>
              <th>Down</th>
              <th>Distance</th>
              <th>Formation</th>
              <th>Formation-Strength</th>
              <th>Play Type</th>
              <th>Play Type-Dir</th>
              <th>Ball Carrier</th>
              <th>Pass Zone</th>
              <th>D-Formation</th>
              <th>Coverage</th>
              <th>Pressure Left</th>
              <th>Pressure Middle</th>
              <th>Pressure Right</th>
              <th>Result</th>
            </tr>
            <tr>
              <th></th>
              <th><select id="teamname"><option>No Filter</option></select></th>
              <th><select id="opponent"><option>No Filter</option></select></th>
              <th><select id="year"><option>No Filter</option></select></th>
              <th><select id="possession"><option>No Filter</option></select></th>
              <th><select id="drive"><option>No Filter</option></select></th>
              <th><select id="quarter"><option>No Filter</option></select></th>
              <th>
                <select id="yard">
                  <option>No Filter</option>
                  <option>Backed Up</option>
                  <option>Midfield</option>
                  <option>Scoring Position</option>
                </select>
              </th>
              <th><select id="hash"><option>No Filter</option></select></th>
              <th><select id="down"><option>No Filter</option></select></th>
              <th>
                <select id="distance">
                  <option>No Filter</option>
                  <option>Short</option>
                  <option>Medium</option>
                  <option>Long</option>
                </select>
              </th>
              <th><select id="formation"><option>No Filter</option></select></th>
              <th><select id="strength"><option>No Filter</option></select></th>
              <th><select id="playtype"><option>No Filter</option></select></th>
              <th><select id="playdir"><option>No Filter</option></select></th>
              <th><select id="ballcarrier"><option>No Filter</option></select></th>
              <th><select id="passzone"><option>No Filter</option></select></th>
              <th><select id="dform"><option>No Filter</option></select></th>
              <th><select id="coverage"><option>No Filter</option></select></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
    </body>
    <script>
      var params = new Object()
      var mapObj = new Object()
      params.teamcode = '{{Team_Code}}' 
      //createMap(mapObj)
    </script>
</html>