<!DOCTYPE html>
<meta charset="utf-8" lang="eng">
<html>
    <head>
        <title>Endzone - Drive Analyzer</title>
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static', filename='images/Endzone.jpg') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/nav.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/DAT.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/Filterbar.css') }}">
        <script src="{{ url_for('static', filename='js/DAT.js') }}"></script>

        <!-- Leaflet -->
        <script src="{{ url_for('static', filename='js/libs/Leaflet/leaflet.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='js/libs/Leaflet/leaflet.css') }}"/>
        <!--Georaster-->
        <script src="{{ url_for('static', filename='js/libs/Georaster/georaster-layer-for-leaflet.min.js') }}"></script>
        <!--JQuery-->
        <script src="{{ url_for('static', filename='js/libs/Jquery/jquery.min.js') }}"></script>
        <!-- Charts -->
        <script src="{{ url_for('static', filename='js/libs/Chart/Chart.min.js') }}"></script>
    </head>
    <body>
        <div class="topnav">
          <div class="logo-image">
            <img src="{{ url_for('static', filename='images/EndzoneLogo.png') }}" class="img-fluid">
          </div>
          <a href="/endzone/hub">Hub</a>
          <a  href="/endzone/gamemanagement">Game Management</a>
          <div class="dropdown">
            <button class="dropbtn">Team Management
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href = "/endzone/formations">Formations</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Pre-Game Analysis
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/endzone/prereport">Pre Game Report</a>
            </div>
          </div>
          <div class="dropdown" style="background-color: #1e73be;">
            <button class="dropbtn">In-Game Analysis
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href = "/endzone/driveanalyzer">Drive Analyzer</a>
              <a href="/endzone/dataviewer">Data Viewer</a>
              <a href="/endzone/tars">TARS</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Post-Game Analysis
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href = "/endzone/gamerecap">Recap Report</a>
            </div>
          </div>
          <div class = "topnav-right">
            <a href = "/Logout">{{ User }}</a>
          </div>
      </div>
        <div class = "filterbar">
            <label>Game:</label>
            <select id = "Select_Game">
              {% for Game in Games %}   
              <option>{{ Game.Team_Name }} VS {{ Game.Opponent_Name }} | {{ Game.Year }}</option>        
              {% endfor %}  
            </select>

            <label>Possession:</label>
            <select id = "Possession"></select>
            <label>Drive:</label>
            <select id = "Drive"></select>
        </div>
        <div class="container">
            <div class = "drivemap" id = "drivemap"></div>
            <div class = "statMenu">
              <div class="statDiv" ><h2>Drive Play Length</h2><h1 id = "drive_len">0</h1></div>
              <div class="statDiv" ><h2>Average Gain</h2><h1 id = "avg_gain">0</h1></div>
              <div class="statDiv" ><h2>Average Distance</h2><h1 id = "avg_dist">0</h1></div>
              <div class="statDiv" ><h2>Plays to Strength</h2><h1 id = "str_play">0</h1></div>
              <div class="statDiv" ><h2>Explosive Plays</h2><h1 id = "exp_play">0</h1></div>
              <div class="statDiv" ><h2>Total Yards</h2><h1 id = "total_yards">0</h1></div>
              <div class="statDiv" ><h2>Rush Yards</h2><h1 id = "rush_yards">0</h1></div>
              <div class="statDiv" ><h2>Pass Yards</h2><h1 id = "pass_yards">0</h1></div>
              <div class = "playDiv">
                <textarea id = "FormPlayType" readonly></textarea>
                <textarea id = "PersonalPlayType" readonly></textarea>
              </div>
            </div>

        </div>

        <div class="slideshowdiv">

          <div class="mySlides fade">
            <h3>Overall Focus</h3>
            <div class ="graphdiv"><canvas height="100%" width = "100%" id = "playTypeGraph" class = "graph"></canvas></div>
            <div class ="graphdiv"><canvas height="100%" width = "100%" id = "formationGraph" class = "graph"></canvas></div>
            <div class ="graphdiv"><canvas height="100%" width = "100%" id = "playDirectionGraph" class = "graph"></canvas></div>
          </div>
          
          <div class="mySlides fade">
            <h3>Rushing Focus</h3>
            <textarea id = "PersonalRusher" readonly></textarea>
            <textarea id = "FormRusher" readonly></textarea>
            <textarea id = "RushEffiency" style = "height: 12vh"></textarea>
          </div>
          
          <div class="mySlides fade">
            <h3>Passing Focus</h3>
            <textarea id = "PassZone" readonly></textarea>
            <textarea id = "CoverageEffiency" readonly></textarea>
            <textarea id = "PassEffiency" style = "height: 12vh"></textarea>
          </div>
          
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <script>     
            // Clear to fix Ipad issues
            $.ajaxSetup({ cache: false });

            const graphObj = new Object();
            slideIndex = 1;
            showSlides(slideIndex);
            
            var mapBounds = L.latLngBounds([
              [-2, 0],
              [12, 10]
            ]);

            var map = L.map('drivemap', {  
              zoomControl: false,
              maxBounds: mapBounds,
              maxBoundsViscosity: 1.0,
              minZoom: 6,
              maxZoom: 8});

            map.fitBounds(mapBounds);
            map.setZoom(6);
            
            var imageUrl = "{{ url_for('static', filename='spatial/FootballFieldBase.jpg') }}";
            var latLngBounds = L.latLngBounds([[0, 0], [10, 10]]);
            var imageOverlay = L.imageOverlay(imageUrl, latLngBounds).addTo(map)

            var imageUrl = "{{ url_for('static', filename='spatial/EndzoneNorth.jpg') }}";
            var latLngBounds = L.latLngBounds([[10, 0], [12, 10]]);
            var imageOverlayNorth = L.imageOverlay(imageUrl, latLngBounds).addTo(map)

            var imageUrl = "{{ url_for('static', filename='spatial/EndzoneSouth.jpg') }}";
            var latLngBounds = L.latLngBounds([[0, 0], [-2, 10]]);
            var imageOverlayNorth = L.imageOverlay(imageUrl, latLngBounds).addTo(map)
            

          
          $(document).ready(function(){
            $("#Select_Game").change(function(){
              game = document.getElementById("Select_Game").value;
              teamname = game.substring(0, game.indexOf('VS') - 1);
              opponentname = game.substring(game.indexOf('VS') + 3, game.indexOf('|') - 1)
              year = game.substring(game.indexOf('|') + 2, game.length);

              Possession_Select = document.getElementById("Possession");
              removeAll(Possession_Select)
              Drive_Select = document.getElementById("Drive");

              // create option using DOM
              const teamOption = document.createElement('option');
              const teamText = document.createTextNode(teamname);
              teamOption.appendChild(teamText);
              teamOption.setAttribute('value', teamname);
              
              const opponentOption = document.createElement('option');
              const opponentText = document.createTextNode(opponentname);
              opponentOption.appendChild(opponentText);
              opponentOption.setAttribute('value', opponentname);

              Possession_Select.appendChild(opponentOption);
              Possession_Select.appendChild(teamOption);
              $("#Possession").trigger("change");        
            });

            // Returns Eligible Drives
            $("#Possession").change(function(){ 
              game = document.getElementById("Select_Game").value;
              teamname = game.substring(0, game.indexOf('VS') - 1);
              opponentname = game.substring(game.indexOf('VS') + 3, game.indexOf('|') - 1)
              year = game.substring(game.indexOf('|') + 2, game.length);
              possession = document.getElementById("Possession").value;

              url = "/endzone/driveanalyzer/getparam?team=" + teamname + "&opponent=" + opponentname + "&year=" + year + "&possession=" + possession
              $.get(url, function(data, status){
                removeAll(Drive_Select)
                data = JSON.parse(data);
                for(i = 0; i < data.length; i++)
                {
                  const Option = document.createElement('option');
                  const Text = document.createTextNode(data[i]);
                  Option.appendChild(Text);
                  Option.setAttribute('value', data[i]);
                  Drive_Select.appendChild(Option)
                }
                $("#Drive").trigger("change");
              });
            })

            // Return Data
            $("#Drive").change(function(){
              game = document.getElementById("Select_Game").value;
              drive = document.getElementById("Drive").value
              teamname = game.substring(0, game.indexOf('VS') - 1);
              opponentname = game.substring(game.indexOf('VS') + 3, game.indexOf('|') - 1)
              year = game.substring(game.indexOf('|') + 2, game.length);

              url = "/endzone/driveanalyzer/getdata?team=" + teamname + "&opponent=" + opponentname + "&year=" + year + "&drive=" + drive;
              $.get(url, function(data, status){
                // Driver for loading
                Load_DAT()
                Generate_Stats(data);
                Build_Points(data, map);
                Form_PlayType(data);
                Personal_PlayType(data);
                Form_BallCarrier(data);
                Rush_Personnel(data);
                Rush_Pressure(data);
                Pass_Pressure(data);
                Form_PassZone(data);
                Pass_Coverage(data);
                Clear_Graphs(graphObj);
                Build_Graphs(data, graphObj);
              })
            })

            $("#Select_Game").trigger("change");
          }); 

        </script>
    </body>
</html>