<!DOCTYPE html>
<html>
    <head>
        <title>Endzone - KIPP</title>
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static', filename='images/Endzone.jpg') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/nav.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/KIPP.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/KIPP.js') }}"></script>

        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
      <div class="topnav">
        <div class="logo-image">
          <img src="{{ url_for('static', filename='images/EndzoneLogo.png') }}" class="img-fluid">
        </div>
          <a href="/Endzone/Hub">Hub</a>
          <a  href="/Endzone/GameManagement">Game Management</a>
          <div class="dropdown">
            <button class="dropbtn">Team Management
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href = "/Endzone/Formations">Formations</a>
            </div>
          </div>
          <div class="dropdown"  style="background-color: #1e73be;">
            <button class="dropbtn" >Pre-Game Analysis
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/Endzone/KIPP">KIPP</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">In-Game Analysis
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href = "/Endzone/DAT">Drive Analyzer</a>
              <a href="/Endzone/CASE">CASE</a>
              <a href="/Endzone/TARS">TARS</a>
            </div>
          </div>
          <div class = "topnav-right">
            <a href = "/Logout">{{ User }}</a>
          </div>
      </div>
      <div class = "KIPP_Image">
        <img src="{{ url_for('static', filename='images/KIPP_Background.jpg') }}" class = "KIPP_Background">
      </div>
      <form action = "{{url_for('KIPP_Run')}}" method="POST" id="form">
        <div class="K_Container">
          <h3>KIPP - Pregame Report Generator</h3>
          <h2>Select games below to create a report on</h3>
          <div class = "K_Panel">
            <fieldset>      
              <legend>Games to Inculde:</legend>   
              {% for Game in Games %}   
              <input type="checkbox" name="kipps_team" value="{{ Game.Team_Name }}_{{ Game.Opponent_Name }}_{{ Game.Year }}">{{ Game.Team_Name }} VS {{ Game.Opponent_Name }} | {{ Game.Year }}<br>        
              {% endfor %}  
            </fieldset>
            <label>Select Team of Interest:</label>
            <select name="TeamOfInterest" id = "TeamOfInterest">
              {% for Team in Teams %}   
              <option>{{ Team[0] }}</option>
              {% endfor %}  
            </select>  
          </div>

            <button type ="button" onclick="KIPPS_Run()">Run Pregame Report</button>
            <select name ="kipps_type" id = "kipps_type">
              <option>Offense</option>
              <option>Defense</option>
              <option>All</option>
            </select>

            <input type="text" name ="kipps_action" id = "kipps_action" style="display: none;"/><br>  
            <input type="text" name ="kipps_jobs" id = "kipps_jobs" style="display: none;"/><br> 

        </div>
      </form>

        

        <script>

        </script>
    </body>
</html>