<!DOCTYPE html>
<html>
    <head>
        <title>Endzone - Pre Game Report</title>
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static', filename='images/Endzone.jpg') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/nav.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/KIPP.css') }}">
        <script src="{{ url_for('static', filename='js/PreGameReport.js') }}"></script>

        <!--JQuery-->
        <script src="{{ url_for('static', filename='js/libs/Jquery/jquery.min.js') }}"></script>
    </head>
    <body>
      <div class="topnav">
        <div class="logo-image">
          <img src="{{ url_for('static', filename='images/EndzoneLogo.png') }}" class="img-fluid">
        </div>
        <a href="/endzone/hub">Hub</a>
        <a  href="/endzone/gamemanagement">Game Management</a>
        <div class="dropdown">
          <button class="dropbtn">Team Management
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href = "/endzone/formations">Formations</a>
          </div>
        </div>
        <div class="dropdown" style= "background-color: #1e73be;">
          <button class="dropbtn" >Pre-Game Analysis
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/endzone/prereport">Pre Game Report</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">In-Game Analysis
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href = "/endzone/driveanalyzer">Drive Analyzer</a>
            <a href="/endzone/dataviewer">Data Viewer</a>
            <a href="/endzone/tars">TARS</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Post-Game Analysis
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href = "/endzone/gamerecap">Recap Report</a>
          </div>
        </div>
        <div class = "topnav-right">
          <a href = "/Logout">{{ User }}</a>
        </div>
    </div>
      <div class = "KIPP_Image">
        <img src="{{ url_for('static', filename='images/KIPP_Background.jpg') }}" class = "KIPP_Background">
      </div>
      <form action = "{{url_for('Tools.prereport_run')}}" method="POST" id="form">
        <div class="K_Container">
          <h3>Pregame Report Generator</h3>
          <h2>Select games below to create a report on</h3>
          <div class = "K_Panel">
            <fieldset id = "fieldset">      
              <legend>Games to Inculde:</legend>   
            </fieldset>
          </div>
            <label>Team of Interest:</label>
            <select name="TeamOfInterest" id = "TeamOfInterest"></select>  <br>
            <label>Report Type:</label>
            <select name ="kipps_type" id = "kipps_type">
              <option>Offense</option>
              <option>Defense</option>
              <option>All</option>
            </select><br><br>
            <button type ="button" onclick="KIPPS_Run()">Run Pregame Report</button><br>
            <input type="text" name ="kipps_action" id = "kipps_action" style="display: none;"/><br>  
            <input type="text" name ="kipps_jobs" id = "kipps_jobs" style="display: none;"/><br> 

        </div>
      </form>
        <script>
          params = new Object()
          params.teamcode = '{{ Team_Code }}'
          //Make Team Request

          //Make Games Request
          Get_UniqueTeams(params.teamcode)
          Get_Teams(params.teamcode)
        </script>
    </body>
</html>